In [1]:
import geopandas as gpd

In [2]:
tiles = gpd.read_file("/Users/saharmohamed/Documents/UBS_Material/DL4CV/dl4cv-object-detection-on-aerial-imagery/data/tiles.geojson")
trees_data = gpd.read_file("/Users/saharmohamed/Documents/UBS_Material/DL4CV/dl4cv-object-detection-on-aerial-imagery/data/trees_box.geojson")

In [3]:
tiles

,id,title,geometry
0,"Tile(x=6773, y=293571, z=19)","XYZ tile Tile(x=6773, y=293571, z=19)","POLYGON ((-175.34935 -21.08706, -175.34935 -21..."
1,"Tile(x=6773, y=293572, z=19)","XYZ tile Tile(x=6773, y=293572, z=19)","POLYGON ((-175.34935 -21.0877, -175.34935 -21...."
2,"Tile(x=6773, y=293573, z=19)","XYZ tile Tile(x=6773, y=293573, z=19)","POLYGON ((-175.34935 -21.08834, -175.34935 -21..."
3,"Tile(x=6773, y=293574, z=19)","XYZ tile Tile(x=6773, y=293574, z=19)","POLYGON ((-175.34935 -21.08898, -175.34935 -21..."
4,"Tile(x=6773, y=293575, z=19)","XYZ tile Tile(x=6773, y=293575, z=19)","POLYGON ((-175.34935 -21.08963, -175.34935 -21..."
...,...,...,...
546,"Tile(x=6791, y=293595, z=19)","XYZ tile Tile(x=6791, y=293595, z=19)","POLYGON ((-175.33699 -21.10244, -175.33699 -21..."
547,"Tile(x=6791, y=293596, z=19)","XYZ tile Tile(x=6791, y=293596, z=19)","POLYGON ((-175.33699 -21.10308, -175.33699 -21..."
548,"Tile(x=6791, y=293597, z=19)","XYZ tile Tile(x=6791, y=293597, z=19)","POLYGON ((-175.33699 -21.10372, -175.33699 -21..."
549,"Tile(x=6791, y=293598, z=19)","XYZ tile Tile(x=6791, y=293598, z=19)","POLYGON ((-175.33699 -21.10436, -175.33699 -21..."
550,"Tile(x=6791, y=293599, z=19)","XYZ tile Tile(x=6791, y=293599, z=19)","POLYGON ((-175.33699 -21.105, -175.33699 -21.1..."

In [4]:
trees_data

,osm_id,natural,species,species_mapped,lon,lat,geometry
0,5269771172,tree,Mangifera indica,Mango,-1.951858e+07,-2.402352e+06,"POLYGON ((-19518575.399 -2402355.495, -1951857..."
1,5269771173,tree,Mangifera indica,Mango,-1.951861e+07,-2.402405e+06,"POLYGON ((-19518607.203 -2402408.492, -1951860..."
2,5269771174,tree,Mangifera indica,Mango,-1.951861e+07,-2.402384e+06,"POLYGON ((-19518603.763 -2402387.303, -1951860..."
3,5269771175,tree,Mangifera indica,Mango,-1.951860e+07,-2.402469e+06,"POLYGON ((-19518601.08 -2402471.5, -19518601.0..."
4,5269771176,tree,Mangifera indica,Mango,-1.951860e+07,-2.402552e+06,"POLYGON ((-19518593.622 -2402554.803, -1951859..."
...,...,...,...,...,...,...,...
10626,5322704745,tree,Cocos nucifera,Coconut,-1.951967e+07,-2.404097e+06,"POLYGON ((-19519668.812 -2404099.661, -1951966..."
10627,5322704746,tree,Cocos nucifera,Coconut,-1.951964e+07,-2.404093e+06,"POLYGON ((-19519641.94 -2404095.64, -19519641...."
10628,5322704747,tree,Cocos nucifera,Coconut,-1.951963e+07,-2.404084e+06,"POLYGON ((-19519629.995 -2404086.977, -1951962..."
10629,5322704748,tree,Cocos nucifera,Coconut,-1.951964e+07,-2.404083e+06,"POLYGON ((-19519639.246 -2404086.226, -1951963..."
10630,5322704749,tree,Cocos nucifera,Coconut,-1.951965e+07,-2.404087e+06,"POLYGON ((-19519644.177 -2404089.817, -1951964..."

In [ ]:
from geomltoolkits.utils import split_geojson_by_tiles


# Split GeoJSON by tiles
split_geojson_by_tiles(tiles, trees_data, output_dir="/Users/saharmohamed/Documents/UBS_Material/DL4CV/dl4cv-object-detection-on-aerial-imagery/data/labels")

In [5]:
print(tiles.crs)
print(trees_data.crs)

EPSG:4326
EPSG:3857

In [6]:
trees_data = trees_data.to_crs(tiles.crs)
trees_data

,osm_id,natural,species,species_mapped,lon,lat,geometry
0,5269771172,tree,Mangifera indica,Mango,-1.951858e+07,-2.402352e+06,"POLYGON ((-175.33835 -21.08784, -175.33835 -21..."
1,5269771173,tree,Mangifera indica,Mango,-1.951861e+07,-2.402405e+06,"POLYGON ((-175.33863 -21.08828, -175.33863 -21..."
2,5269771174,tree,Mangifera indica,Mango,-1.951861e+07,-2.402384e+06,"POLYGON ((-175.3386 -21.08811, -175.3386 -21.0..."
3,5269771175,tree,Mangifera indica,Mango,-1.951860e+07,-2.402469e+06,"POLYGON ((-175.33858 -21.08881, -175.33858 -21..."
4,5269771176,tree,Mangifera indica,Mango,-1.951860e+07,-2.402552e+06,"POLYGON ((-175.33851 -21.08951, -175.33851 -21..."
...,...,...,...,...,...,...,...
10626,5322704745,tree,Cocos nucifera,Coconut,-1.951967e+07,-2.404097e+06,"POLYGON ((-175.34817 -21.10246, -175.34817 -21..."
10627,5322704746,tree,Cocos nucifera,Coconut,-1.951964e+07,-2.404093e+06,"POLYGON ((-175.34793 -21.10242, -175.34793 -21..."
10628,5322704747,tree,Cocos nucifera,Coconut,-1.951963e+07,-2.404084e+06,"POLYGON ((-175.34782 -21.10235, -175.34782 -21..."
10629,5322704748,tree,Cocos nucifera,Coconut,-1.951964e+07,-2.404083e+06,"POLYGON ((-175.3479 -21.10234, -175.3479 -21.1..."
10630,5322704749,tree,Cocos nucifera,Coconut,-1.951965e+07,-2.404087e+06,"POLYGON ((-175.34795 -21.10237, -175.34795 -21..."

In [16]:
tiles.columns

Index(['id', 'title', 'geometry'], dtype='object')

In [17]:
tiles_path = "tiles.geojson"
trees_path = "trees.geojson"

tiles.to_file(tiles_path, driver="GeoJSON")
trees_data.to_file(trees_path, driver="GeoJSON")

In [ ]:
from geomltoolkits.utils import split_geojson_by_tiles

In [30]:
for feature in data["features"]:
    pid = feature.get("properties", {}).get("id")

    if pid is None:
        raise ValueError("Feature missing properties['id']")

    # add top-level id
    feature["id"] = pid

In [31]:
with open("tiles_with_feature_id.geojson", "w", encoding="utf-8") as f:
    json.dump(data, f)

In [32]:
with open("tiles_with_feature_id.geojson") as f:
    d = json.load(f)

print(d["features"][0].keys())

dict_keys(['type', 'properties', 'geometry', 'id'])

In [28]:
import json

with open("tiles_with_id.geojson") as f:
    data = json.load(f)

print(data["features"][0]["properties"]["id"])

Tile(x=6773, y=293571, z=19)

In [34]:
tiles[["id", "title"]].head()

                             id                                  title
0  Tile(x=6773, y=293571, z=19)  XYZ tile Tile(x=6773, y=293571, z=19)
1  Tile(x=6773, y=293572, z=19)  XYZ tile Tile(x=6773, y=293572, z=19)
2  Tile(x=6773, y=293573, z=19)  XYZ tile Tile(x=6773, y=293573, z=19)
3  Tile(x=6773, y=293574, z=19)  XYZ tile Tile(x=6773, y=293574, z=19)
4  Tile(x=6773, y=293575, z=19)  XYZ tile Tile(x=6773, y=293575, z=19)

In [21]:
import json
with open("tiles.geojson") as f:
    data = json.load(f)

print(data["features"][0]["properties"].keys())

tile_id = data["features"][0]["properties"].get("id", data["features"][0]["properties"]["id"])
print(tile_id)

dict_keys(['id', 'title'])
Tile(x=6773, y=293571, z=19)

In [33]:
split_geojson_by_tiles(
    mother_geojson_path="trees.geojson",
    children_geojson_path="tiles_with_feature_id.geojson",
    output_dir="labels"
)

In [23]:
tiles

,id,title,geometry
0,"Tile(x=6773, y=293571, z=19)","XYZ tile Tile(x=6773, y=293571, z=19)","POLYGON ((-175.34935 -21.08706, -175.34935 -21..."
1,"Tile(x=6773, y=293572, z=19)","XYZ tile Tile(x=6773, y=293572, z=19)","POLYGON ((-175.34935 -21.0877, -175.34935 -21...."
2,"Tile(x=6773, y=293573, z=19)","XYZ tile Tile(x=6773, y=293573, z=19)","POLYGON ((-175.34935 -21.08834, -175.34935 -21..."
3,"Tile(x=6773, y=293574, z=19)","XYZ tile Tile(x=6773, y=293574, z=19)","POLYGON ((-175.34935 -21.08898, -175.34935 -21..."
4,"Tile(x=6773, y=293575, z=19)","XYZ tile Tile(x=6773, y=293575, z=19)","POLYGON ((-175.34935 -21.08963, -175.34935 -21..."
...,...,...,...
546,"Tile(x=6791, y=293595, z=19)","XYZ tile Tile(x=6791, y=293595, z=19)","POLYGON ((-175.33699 -21.10244, -175.33699 -21..."
547,"Tile(x=6791, y=293596, z=19)","XYZ tile Tile(x=6791, y=293596, z=19)","POLYGON ((-175.33699 -21.10308, -175.33699 -21..."
548,"Tile(x=6791, y=293597, z=19)","XYZ tile Tile(x=6791, y=293597, z=19)","POLYGON ((-175.33699 -21.10372, -175.33699 -21..."
549,"Tile(x=6791, y=293598, z=19)","XYZ tile Tile(x=6791, y=293598, z=19)","POLYGON ((-175.33699 -21.10436, -175.33699 -21..."
550,"Tile(x=6791, y=293599, z=19)","XYZ tile Tile(x=6791, y=293599, z=19)","POLYGON ((-175.33699 -21.105, -175.33699 -21.1..."